#### Importing required Libraries

In [1]:
import random 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.api.types import is_numeric_dtype
import seaborn as sns

In [2]:
df = pd.read_csv("cleaned_data.csv")

In [3]:
df.shape

(1048575, 24)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Index                   1048575 non-null  int64
 1   pH                      1048575 non-null  float64
 2   Iron                    1048575 non-null  float64
 3   Nitrate                 1048575 non-null  float64
 4   Chloride                1048575 non-null  float64
 5   Lead                    1048575 non-null  float64
 6   Zinc                    1048575 non-null  float64
 7   Color                   1048575 non-null  int64
 8   Turbidity               1048575 non-null  float64
 9   Fluoride                1048575 non-null  float64
 10  Copper                  1048575 non-null  float64
 11  Odor                    1048575 non-null  float64
 12  Sulfate                 1048575 non-null  float64
 13  Conductivity            1048575 non-null  float64
 14  Chlorine                1048575 non-null  float64
 15  Manganese               1048575 non-null  float64
 16  Total Dissolved Solids  1048575 non-null  float64
 17  Source                  1048575 non-null  int64
 18  Water Temperature       1048575 non-null  float64
 19  Air Temperature         1048575 non-null  float64
 20  Month                   1048575 non-null  int64
 21  Day                     1048575 non-null  float64
 22  Time of Day             1048575 non-null  float64
 23  Target                  1048575 non-null  int64
dtypes: float64(19), int64(5)
memory usage: 192.0 MB

In [5]:
df.describe()

,Index,pH,Iron,Nitrate,Chloride,Lead,Zinc,Color,Turbidity,Fluoride,...,Chlorine,Manganese,Total Dissolved Solids,Source,Water Temperature,Air Temperature,Month,Day,Time of Day,Target
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,...,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.242870e+05,1.012280e+04,3.495610e+03,9.353461e+03,1.559350e+04,2.341999e+03,1.383898e+04,1.670537e+00,4.347475e+03,1.660990e+04,...,5.084201e+03,9.669583e+03,4.137118e+02,3.567253e+00,1.486260e+04,2.711226e+03,5.610571e+00,8.789960e+03,1.019176e+04,2.295821e-01
std,3.026977e+05,7.211764e+04,4.266645e+04,6.937785e+04,8.854271e+04,3.496277e+04,8.404346e+04,1.396442e+00,4.754130e+04,9.182589e+04,...,5.136198e+04,7.054142e+04,8.834111e+03,2.341252e+00,8.695757e+04,3.718602e+04,3.515534e+00,6.725395e+04,7.234385e+04,4.205643e-01
min,0.000000e+00,2.058008e+00,2.050000e-53,2.861727e-01,2.941350e+01,0.000000e+00,6.350000e-07,0.000000e+00,1.410000e-14,4.550000e-06,...,9.994110e-01,1.380000e-46,1.064299e-02,0.000000e+00,6.661938e-01,-3.387091e+01,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.621435e+05,6.926029e+00,9.450000e-06,3.983113e+00,1.386358e+02,2.020000e-122,4.271634e-01,0.000000e+00,3.766285e-02,3.822490e-01,...,2.742576e+00,2.390000e-06,1.318368e+02,2.000000e+00,1.150391e+01,4.791463e+01,3.000000e+00,8.000000e+00,6.000000e+00,0.000000e+00
50%,5.242870e+05,7.473367e+00,2.167424e-03,5.628327e+00,1.770015e+02,3.790000e-62,1.120358e+00,2.000000e+00,2.038549e-01,7.946817e-01,...,3.207667e+00,6.224660e-04,2.636404e+02,4.000000e+00,1.679624e+01,6.013636e+01,6.000000e+00,1.600000e+01,1.200000e+01,0.000000e+00
75%,7.864305e+05,8.036048e+00,5.247472e-02,7.721593e+00,2.199752e+02,6.840000e-27,2.348997e+00,3.000000e+00,6.072396e-01,1.388685e+00,...,3.701503e+00,1.593010e-02,3.950743e+02,6.000000e+00,2.479905e+01,7.245262e+01,9.000000e+00,2.400000e+01,1.800000e+01,0.000000e+00
max,1.048574e+06,5.242870e+05,5.242870e+05,5.242870e+05,5.242870e+05,5.242870e+05,5.242870e+05,5.000000e+00,5.242870e+05,5.242870e+05,...,5.242870e+05,5.242870e+05,5.242870e+05,8.000000e+00,5.242870e+05,5.242870e+05,1.200000e+01,5.242870e+05,5.242870e+05,1.000000e+00

In [6]:
df.head()

,Index,pH,Iron,Nitrate,Chloride,Lead,Zinc,Color,Turbidity,Fluoride,...,Chlorine,Manganese,Total Dissolved Solids,Source,Water Temperature,Air Temperature,Month,Day,Time of Day,Target
0,0,8.332988,0.000083,8.605777,122.799772,3.710000e-52,3.434827,0,0.022683,0.607283,...,3.708178,2.270000e-15,332.118789,8,524287.000000,43.493324,4,29.0,4.0,0
1,1,6.917863,0.000081,3.734167,227.029851,7.850000e-94,1.245317,1,0.019007,0.622874,...,3.292038,8.020000e-07,284.641984,2,15.348981,71.220586,9,26.0,16.0,0
2,2,5.443762,0.020106,3.816994,230.995630,5.290000e-76,0.528280,2,0.319956,0.423423,...,3.560224,7.007989e-02,570.054094,4,11.643467,44.891330,4,31.0,8.0,0
3,3,7.955339,0.143988,8.224944,178.129940,4.000000e-176,4.027879,3,0.166319,0.208454,...,3.516907,2.468295e-02,100.043838,1,10.092392,60.843233,0,1.0,21.0,0
4,4,8.091909,0.002167,9.925788,186.540872,4.170000e-132,3.807511,2,0.004867,0.222912,...,3.177849,3.296139e-03,168.075545,5,15.249416,69.336671,6,29.0,7.0,0

In [7]:
df.tail()

,Index,pH,Iron,Nitrate,Chloride,Lead,Zinc,Color,Turbidity,Fluoride,...,Chlorine,Manganese,Total Dissolved Solids,Source,Water Temperature,Air Temperature,Month,Day,Time of Day,Target
1048570,1048570,8.186428,1.977157e-02,5.968850,115.963429,1.590000e-113,2.277221,3,0.020610,1.194165,...,2.718928,2.603963e-02,220.571485,6,5.491908,43.817452,7,15.0,14.0,0
1048571,1048571,8.046225,1.160000e-05,3.678714,148.053168,5.930000e-25,0.483369,3,0.878835,1.203689,...,2.312058,4.427830e-02,406.095969,2,10.143768,34.626853,2,16.0,0.0,0
1048572,1048572,7.443582,3.103077e-03,7.893399,174.677900,1.080000e-15,1.461659,3,0.701053,0.115412,...,3.410297,2.350000e-05,439.086461,5,14.612881,55.460415,6,18.0,16.0,0
1048573,1048573,6.897232,6.980000e-10,5.757980,125.564223,1.300000e-18,0.804589,3,0.156424,0.554729,...,2.803234,3.220000e-19,278.051032,7,7.351956,65.055864,8,5.0,3.0,0
1048574,1048574,8.330849,2.996820e-04,2.360790,187.440277,5.650000e-243,1.157979,0,0.272353,0.037678,...,3.589297,3.050000e-08,232.443406,8,10.493711,59.265142,0,19.0,21.0,0

In [8]:
df.dtypes

Index                       int64
pH                        float64
Iron                      float64
Nitrate                   float64
Chloride                  float64
Lead                      float64
Zinc                      float64
Color                       int64
Turbidity                 float64
Fluoride                  float64
Copper                    float64
Odor                      float64
Sulfate                   float64
Conductivity              float64
Chlorine                  float64
Manganese                 float64
Total Dissolved Solids    float64
Source                      int64
Water Temperature         float64
Air Temperature           float64
Month                       int64
Day                       float64
Time of Day               float64
Target                      int64
dtype: object

In [9]:
df.columns

Index(['Index', 'pH', 'Iron', 'Nitrate', 'Chloride', 'Lead', 'Zinc', 'Color',
       'Turbidity', 'Fluoride', 'Copper', 'Odor', 'Sulfate', 'Conductivity',
       'Chlorine', 'Manganese', 'Total Dissolved Solids', 'Source',
       'Water Temperature', 'Air Temperature', 'Month', 'Day', 'Time of Day',
       'Target'],
      dtype='object')

In [10]:
num_cols = []
cat_cols = []
for i in df.columns:
    if is_numeric_dtype(df[i]):
        num_cols.append(i)
    else:
        cat_cols.append(i)

In [11]:
print(num_cols)

['Index', 'pH', 'Iron', 'Nitrate', 'Chloride', 'Lead', 'Zinc', 'Color', 'Turbidity', 'Fluoride', 'Copper', 'Odor', 'Sulfate', 'Conductivity', 'Chlorine', 'Manganese', 'Total Dissolved Solids', 'Source', 'Water Temperature', 'Air Temperature', 'Month', 'Day', 'Time of Day', 'Target']

In [12]:
# As there are only numeric columns in the dataset so this list has empty values 
print(cat_cols)

[]